# Sets

- A collection of unique data. 
> Elements of a set cannot be duplicate.

- A set is always  unordered.

#### Methods:
| Function | Description |
|----------|-------------|
| `add()` | Adds an element to the set |
| `all()` | Returns `True` if all elements of the set are true (or if the set is empty). |
| `any()` | Returns `True` if any element of the set is true. If the set is empty, returns `False`. |
| `clear()` | Removes all elements from the set |
| `copy()` | Returns a copy of the set |
| `difference()` | Returns the difference of two or more sets as a new set |
| `difference_update()` | Removes all elements of another set from this set |
| `discard()` | Removes an element from the set if it is a member. (Do nothing if the element is not in set) |
| `enumerate()` | Returns an enumerate object. It contains the index and value for all the items of the set as a pair. |
| `intersection()` | Returns the intersection of two sets as a new set | 
| `intersection_update()` | Updates the set with the intersection of itself and another |
| `isdisjoint()` | Returns `True` if two sets have a null intersection |
| `issubset()` | Returns `True` if another set contains this set |
| `issuperset()` | Returns `True` if this set contains another set |
| `len()` | Returns the length (the number of items) in the set. |
| `max()` |	Returns the largest item in the set. |
| `min()` |	Returns the smallest item in the set. |
| `pop()` | Removes and returns an arbitrary set element. Raises `KeyError` if the set is empty |
| `remove()` | Removes an element from the set. If the element is not a member, raises a `KeyError` |
| `sorted()` | Returns a new sorted list from elements in the set(does not sort the set itself). |
| `sum()` | Returns the sum of all elements in the set. |
| `symmetric_difference()` | Returns the symmetric difference of two sets as a new set |
| `symmetric_difference_update()` | Updates a set with the symmetric difference of itself and another |
| `union()` | Returns the union of sets in a new set |
| `update()` | Updates the set with the union of itself and others |

## Create a set

- We create sets by placing elements inside curly braces `{}`
- A set can have any number of elements and of different data types:
    - integer 
    - float
    - tuple
    - string
- A set cannot have mutable elements like lists, sets or dictionaries.

In [7]:
# set with integers
student_ids = {1090, 1091, 1092, 1093, 1094}
print(student_ids)

# a set of strings
employees = {'Rida', 'Ajil', 'Andreas', 'Ritu'}
print(employees)

# set with mixed data
profile = {'Frank', 1094, 102000.45, ('Mason', 'Jaman')}
print(profile)

{1090, 1091, 1092, 1093, 1094}
{'Ritu', 'Rida', 'Ajil', 'Andreas'}
{102000.45, 1094, ('Mason', 'Jaman'), 'Frank'}

# Create an empty set 

> Empty curly braces `{}` by default will create a dictionary.
- To make an empty set we use the set(), without any argument.

In [9]:
# create an empty set
empty_set = set()
print(type(empty_set))

empty_dictionary = {}
print(type(empty_dictionary))

<class 'set'>
<class 'dict'>

# Duplicate items in a set

- Elements in a set should be unique

In [10]:
car_reg = {19876, 19877, 19877, 19878, 19879, 19879}
print(car_reg)

{19876, 19877, 19878, 19879}

# Adding and updating sets in Python

- Sets are mutable (they can be changed).
- We cannot access or change elements of a set using indexing or slicing.

In [12]:
# Adding items
numbers = {23, 45, 67, 89}

print("Initial set:", numbers)

# using add()
numbers.add(102)

print("Upadated set:", numbers)

Initial set: {89, 67, 45, 23}
Upadated set: {67, 102, 45, 23, 89}

## Update Python set

- The update() method is used to update the set with items from other collection types (lists, sets, tuples, dictionaries, etc).

In [14]:
companies = {'Apple', 'Tencent', 'Microsoft', 'Samsung'}
new_companies = ['Huawei', 'Toyota', 'Google']

# using the update() method
companies.update(new_companies)

print(companies)

student_ids = {1090, 1091, 1092, 1093}
new_students = (1094, 1095, 1096, 1097)

student_ids.update(new_students)

print(student_ids)

{'Google', 'Samsung', 'Toyota', 'Apple', 'Microsoft', 'Tencent', 'Huawei'}
{1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097}

# Remove an element from a set

- we use the `discard()` method.

In [15]:
languages = {'Swift', 'Java', 'Python', 'Ruby'}
print('Initial set:', languages)

# Remove 'Ruby' fom the set
languages.discard('Ruby')

print("final set:", languages)

Initial set: {'Ruby', 'Python', 'Java', 'Swift'}
final set: {'Python', 'Java', 'Swift'}

# Iterating over a set in Python

In [16]:
fruits = {"apples", "oranges", "pears", "mangoes"}

# for loop to access access each fruit
for fruit in fruits:
    print(fruit)

mangoes
pears
apples
oranges

# Finding the number of elements in a set

- We use the `len()` function to find the number of elements in a set.

In [18]:
fruits = {"apples", "oranges", "pears", "mangoes"}
print(fruits)

#Find the total number of elements
print(len(fruits))

{'mangoes', 'pears', 'oranges', 'apples'}
4

# Set Operations

- Python provides built-in methods for performing different mathematical set operations, for example:
    - Union
    - Intersection
    - Subtraction
    - Symmetric difference

# Union of two sets

- Includes all the elements of both sets.
- We use `|` operator or the `union()` method to perform set union.

In [26]:
a = {1,3,5,6,7}
b = {7,4,8,9}

# perform union using |
union_1 = a | b
print("Union using |:", union_1)
print("Set a before:", a) # set a not changed

# using the union() method
union_2 = a.union(b)
print("Union using union():", union_2)
print("Set a after:", a) # set a not

Union using |: {1, 3, 4, 5, 6, 7, 8, 9}
Set a before: {1, 3, 5, 6, 7}
Union using union(): {1, 3, 4, 5, 6, 7, 8, 9}
Set a after: {1, 3, 5, 6, 7}

# Set Intersection
- Include the common elements of the two sets.
- We use the `&` operator or the `intersection()` method.

In [32]:
a = {1,3,5,6,7}
b = {7,4,8,9,5}

# using &
intersection_1 = a & b
print("Intersection using &:", intersection_1)

# using the intersection() method
intersection_2 = a.intersection(b)
print("Intersection using intersection():", intersection_2)

{5, 7}
Intersection using &: {5, 7}
Intersection using intersection(): {5, 7}

# Difference between two sets
- includes elements of one set that do no exist in the other set.
- we us the `-` operator or the `difference()` method to perform the difference between 2 sets.

In [37]:
x = {1, 2, 3, 4, 5}
y = {4, 5, 6, 7, 8}

# using - 
diff_1 = x - y 
print("Difference using -:", diff_1)

diff_4 = y - x
print(diff_4)

# using the difference() method
diff_2 = x.difference(y)
print("Using difference():", diff_2)

diff_3 = y.difference(x)
print(diff_3)

Difference using -: {1, 2, 3}
{8, 6, 7}
Using difference(): {1, 2, 3}
{8, 6, 7}

# Set Symmentric Difference
- includes all elements of both sets except for the common elements.
- We use the `^` operator or the `symmetric_diffrence()` method.

In [41]:
c = {"Java", "Python", "Swift", "C++"}
d = {"C++", "Ruby", "Go", "COBOL"}

# using ^
var_1 = c ^ d
print("Symmetric difference using ^:", var_1)

var_2 = d ^ c
print(var_2)

# using the symmetric_difference() method
var_3 = c.symmetric_difference(d)
print("Using symmetric_difference():", var_3)

var_4 = d.symmetric_difference(c)
print(var_4)

Symmetric difference using ^: {'COBOL', 'Python', 'Java', 'Swift', 'Ruby', 'Go'}
{'COBOL', 'Python', 'Java', 'Swift', 'Ruby', 'Go'}
Using symmetric_difference(): {'COBOL', 'Python', 'Java', 'Swift', 'Ruby', 'Go'}
{'COBOL', 'Python', 'Java', 'Swift', 'Ruby', 'Go'}

# Check if two sets are equal
- We can use the `==` operator to check if two sets are equal.
- Result is a boolean value

In [46]:
e = {102.5, 103.4, 107.8}
d = {102.5, 103.4, 107.8}
f = {102.5, 103.4, 112.6}

# Check if sets are equal using ==
if e == d:
    print("Sets e and d are equal")
elif e == f:
    print("Sets e and f are equal")
elif d == f:
    print("Sets d and f are equal")
else:
    print("None of the sets are equal")

None of the sets are equal

In [54]:
set_1 = {"HEllo", "World", (1,2,3,4)}

for i in set_1:
    if type(i) == tuple:
        my_tuple = i
        print(my_tuple)

(1, 2, 3, 4)